**/ConsoleApp1/ConsoleApp1/ConsoleApp1/bin
**/ConsoleApp1/ConsoleApp1/ConsoleApp1/obj
**/ConsoleApp1/ConsoleApp1/ConsoleApp1Library\bin
**/ConsoleApp1/ConsoleApp1/ConsoleApp1Library\obj
**/ConsoleApp1/ConsoleApp1/XUnitTestProject1\bin
**/ConsoleApp1/ConsoleApp1/XUnitTestProject1\obj